<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
            <div>
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a class="navbar-brand" href='@Url.Action("Index", "Home")'><img src="~/Content/Images/mooseMus_logo-01.png" alt="Logo" width="150" height="150"></a></li>
                            <li>@Html.ActionLink("About", "About", "Home", new { style = "color:black" })</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home", new { style = "color:black" })</li>

                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()

                <footer>
                    <section id="footer"/>
                        <div class="container"/>
                            <p>&copy; MooseMus   @DateTime.Now.Year   tel: +354 555 0000    email: moosemus@ru.is</p>
                        </div>
                    </selection>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)

</body>
</html>
