
@{
    ViewBag.Title = "Index";
}

@using MooseMus.Models.ViewModels
@model CourseProjectsViewModel

@{
    ViewBag.Title = @Model.name;
}

<nav class="navbar navbar-light bg-faded" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">@Model.name</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Submit<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (Model.projects != null)
                    {
                        foreach (var pro in @Model.projects)
                        {
                            <li><a href="#" onclick="viewProjectToEdit(@pro.projectID)">@pro.name</a></li>
                        }
                    }
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">View Submissions<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (Model.projects != null)
                    {
                        foreach (var pro in @Model.projects)
                        {
                            <li><a href="#" onclick="viewProjectByStudent(@Model.studentID,@pro.projectID)">@pro.name</a></li>
                        }
                    }
                </ul>
            </li>
        </ul>
    </div>
</nav>

<script type="text/javascript">
    function viewProjectByStudent(st,pr) {
        $('#proj').load('/Student/viewProject?stuID=' + st+ '&projID=' + pr);
    }
</script>

<div id="proj">
</div>
