@model MooseMus.Models.ViewModels.TeacherProjectStudentViewModel
@{
    ViewBag.Title = @Model.projectName;
}
<h3>@Model.projectName</h3>
<p>@Model.description</p>
<div class="container">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Part</th>
                <th>Value</th>
                <th>Submission</th>
                <th>Accepted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pro in @Model.parts)
            {
                <tr>
                    <td><a href="#" onclick="submitProjPart(@pro.studentID, @pro.projParID)">@pro.title</a></td>
                    <td>@pro.value %</td>
                    <td>@pro.submission</td>
                    <td>@pro.accepted</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function submitProjPart(st, pp)
    {
        $('#proj').load('/Student/submitAProjectPart?stuID=' + st + '&proParID=' + pp);
        return false;
    }
</script>

