@model MooseMus.Models.ViewModels.AdminHomeViewModel
@{
    ViewBag.Title = "Admin - Home";
}
<h2>Admin - home</h2>
<div>
    <div class="navleft">
        <ul>
            <li>
                <a href="javascript:addUser();" class="makeblack">Create User</a>
                <script type="text/javascript">
                    function addUser()
                    {
                        $('#divResult').load("@Url.Action("addUser","Admin")");
                    }
                </script>
            </li>
            <li>
                <a href="javascript:editUser();"class="makeblack">Edit User</a>
                <script type="text/javascript">
                    function editUser()
                    {
                        $('#divResult').load("@Url.Action("searchUser","Admin")");
                    }
                </script>
            </li>
            <li>
                <a href="javascript:addCourse();"class="makeblack">Create Course</a>
                <script type="text/javascript">
                    function addCourse()
                    {
                        $('#divResult').load("@Url.Action("addCourse","Admin")");
                    }
                </script>
            </li>
            <li>
                <a href="javascript:editCourse();"class="makeblack">Edit Course</a>
                <script type="text/javascript">
                    function editCourse()
                    {
                        $('#divResult').load("@Url.Action("searchCourse","Admin")");
                    }
                </script>
            </li>
            <li>
                <a href="javascript:linkUser();"class="makeblack">Link User to Course</a>
                <script type="text/javascript">
                    function linkUser()
                    {
                        $('#divResult').load("@Url.Action("linkUser","Admin")");
                    }
                </script>
            </li>
        </ul>
    </div>
    <div id="divResult">
    </div>
</div>



