@model MooseMus.Models.ViewModels.AdminHomeViewModel

@{
    ViewBag.Title = "Admin - Home";
}

<h2>Admin - home</h2>

<div>
        <ul>
            <li>
                <a href="javascript:addUser();">Create User</a>
                <script type="text/javascript">
                    function addUser()
                    {
                        $('#divResult').load("@Url.Action("addUser","Admin")");
                        
                    }
                </script>
            </li>
            <li>
                <a href="javascript:editUser();">Edit User</a>
                <script type="text/javascript">
                    function editUser()
                    {
                        $('#divResult').load("@Url.Action("searchUser","Admin")");
                    }
                </script>
            </li>
            <li>
                <a href="javascript:addCourse();">Create Course</a>
                <script type="text/javascript">
                    function addCourse()
                    {
                        $('#divResult').load("@Url.Action("addCourse","Admin")");
                    }
                </script>
            </li>
            <li>
                <a href="javascript:editCourse();">Edit Course</a>
                <script type="text/javascript">
                    function editCourse()
                    {
                        $('#divResult').load("@Url.Action("searchCourse","Admin")","@Url.Action("editCourse","Admin")");
                    }
                </script>
            </li>
         
        </ul>
</div>
<div id="divResult">
</div>

