@using MooseMus.Models.ViewModels
@model TeacherAddProjectPartViewModel

<h3>New Project Part</h3>

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("createProjectPart", "Teacher", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create Project Part</h4>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.projectID, "Project", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        <select name="projectID" class="form-control">
                            @if (Model.projects != null)
                            {
                                foreach (var project in @Model.projects)
                                {
                                    <option value=@project.projectID>@project.name</option>
                                }
                            }
                        </select>
                        @Html.ValidationMessageFor(m => m.projectID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.partName, "Title", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.partName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.partName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.partDescription, "Description", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.partDescription, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.partDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.input, "Input", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.input, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.input, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.output, "Output", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.output, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.output, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.value, "Value", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.ValidationMessageFor(m => m.value, "", new { @class = "text-danger" })
                        @Html.EditorFor(i => i.value, new { htmlAttributes = new { type = "number", min = 0, max = 100 } })
                    </div>
                </div>
                <input type="hidden" name="courseID" value=@Model.courseID>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default pull-right" />
                       <!-- <button class="btn btn-primary pull-right RbtnMargin" type="button">Save</button>-->
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
