@using MooseMus.Models.ViewModels
@model TeacherAddEditViewModel
@{ 
    ViewBag.Title = "New Project";
}

<h2>New Project</h2>

@if (ViewBag.Success != null && ViewBag.Success == true)
{
    Html.RenderPartial("CreatedSuccessfully");
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("createProject", "Teacher", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Information about Project</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.title, "Title", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.title, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.projectDescription, "Description", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.projectDescription, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.projectDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="hidden" name="courseID" value=@Model.courseID>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            }
        </section>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>