@using MooseMus.Models.ViewModels
@model CourseProjectsViewModel

@{
    ViewBag.Title = @Model.name;
}

<nav class="navbar navbar-light bg-faded" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">@Model.name</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">New project<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-hover-color" href="javascript:addProject();">Add project</a>
                        <script type="text/javascript">
                            function addProject()
                            {
                                $('#proj').load("@Url.Action("createProject", "Teacher", new { course = @Model.name })");
                            }
                        </script>
                    </li> 
                    <li>
                        <a class="dropdown-hover-color" href="javascript:addProjectPart();">Add project part</a>
                        <script type="text/javascript">
                            function addProjectPart()
                            {
                                $('#proj').load("@Url.Action("createProjectPart","Teacher", new { course = @Model.name })");
                            }
                        </script>
                    </li>     
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit project<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (Model.projects != null)
                    {
                        foreach (var pro in @Model.projects)
                        {
                            <li><a class="dropdown-hover-color" href="#" onclick="viewProjectToEdit(@pro.projectID)">@pro.name</a></li>
                        }
                    }
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">View project<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (Model.projects != null)
                    {
                        foreach (var pro in @Model.projects)
                        {
                            <li><a class="dropdown-hover-color" href="#" onclick="viewProject(@Model.studentID, @pro.projectID)">@pro.name</a></li>
                        }
                    }
               </ul>
            </li>
        </ul>
    </div>
</nav>

@if (ViewBag.Success != null && ViewBag.Success == true)
{
    Html.RenderPartial("CreatedSuccessfully");
}

<script type="text/javascript">
    function viewProject(st, pr)
    {      
        $('#proj').load('/Student/viewProject?stuID=' + st + '&proj=' + pr);
    }
</script>

<div id="proj">
</div>
