@using MooseMus.Models.ViewModels
@model CourseProjectsViewModel

@{
    ViewBag.Title = @Model.name;
}

<nav class="navbar navbar-light bg-faded" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">@Model.name</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">New project<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="javascript:addProject();">Add project</a>
                        <script type="text/javascript">
                            function addProject()
                            {
                                $('#proj').load("@Url.Action("goToAddProject", "Teacher", new { course = @Model.name });
                            }
                        </script>
                    </li> 
                    <li>
                        <a href="javascript:addProjectPart();">Add project part</a>
                        <script type="text/javascript">
                            function addProjectPart()
                            {
                                $('#proj').load("@Url.Action("createProjectPart","Teacher", new { course = @Model.name })");
                            }
                        </script>
                    </li>     
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit project<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (Model.projects != null)
                    {
                        foreach (var project in @Model.projects)
                        {
                            var projectName = project.name;
                            <li>@Html.ActionLink(projectName, "Index", "Teacher", projectName, null)</li>
                        }
                    }
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">View project<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @if (Model.projects != null)
                    {
                        foreach (var project in @Model.projects)
                        {
                            var projectName = project.name;
                            <li>@Html.ActionLink(projectName, "Index", "Teacher", projectName, null)</li>
                        }
                    }
               </ul>
            </li>
        </ul>
    </div>
</nav>

@if (ViewBag.Success != null && ViewBag.Success == true)
{
    Html.RenderPartial("CreatedSuccessfully");
}

<div id="proj">
</div>
