
@using MooseMus.Models.ViewModels
@model TeacherProjectStudentViewModel

<h3>@Model.projectName</h3>


<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Liður</th>
                <th>Afhending</th>
                <th>Samþykkt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pro in @Model.parts)
            {
                <tr>
                    <td><a href="#"  onclick="getProjectPart(@pro.studentID, @pro.projParID)">@pro.title</a></td>
                    <td>@pro.submission</td>
                    <td>@pro.accepted</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function getProjectPart(st, pr)
    {
        $('#proj').load('/Teacher/viewProjectPartByStudent?studentID=' + st + '&projectPartID=' + pr);
        return false;
    }
</script>

