@using MooseMus.Models.ViewModels
@model TeacherProjectViewModel

<h2>@Model.project</h2>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nafn</th>
                <th>Kennitala</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stu in @Model.students)
            {
                <tr>
                    <td><a href="#" onclick="getStudent(@stu.userID, @Model.projectID)">@stu.name</a></td>
                    <td>@stu.ssn</td>
                    <td><a href="mailto:@stu.email">Send mail</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function getStudent(st, pr)
    {
        $('#proj').load('/Teacher/viewProjectByStudent?studentID=' + st + '&projID=' + pr);
        return false;
    }
</script>