@model MooseMus.Models.ViewModels.CourseUsersViewModel
@{
    ViewBag.Title = "Populating course";
}
@using (Html.BeginForm("addUserToCourse", "Admin"))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div>
            <dl>
                @if (Model.teachers != null)
                {
                    <dt>Teachers in course</dt>
                    foreach (var item in Model.teachers)
                    {
                        <dd>@item.name</dd>
                    }
                }
                @if (Model.students != null)
                {
                    <dt>Students in course</dt>
                    foreach (var item in Model.students)
                    {
                        <dd>@item.name</dd>
                    }
                }
            </dl>
        </div>
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.courseID)
            
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.userID, "Users Not Enrolled", htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.userID, Model.userNames)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.role, "Role", htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.Label("Student")
                    @Html.RadioButtonFor(model => model.role, "Student")
                    @Html.Label("Teacher")
                    @Html.RadioButtonFor(model => model.role, "Teacher")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="find-course" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

