@model MooseMus.Models.ViewModels.CourseUsersViewModel
@{
    ViewBag.Title = "Link user and course";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-4">
                @Html.LabelFor(model => model.courses, "Course Name", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.courses, Model.courseNames)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="find-course" value="Find" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#find-course").on('click', function (e)
        {
            $.post("@Url.Action("linkUser", "Admin")", {'courseId': $("#courses").val()}, function(resp) {
                console.log(resp);
                $("#result-table").html(resp);
            });
            return false;
        })
    </script>
}
<div id="result-table"></div>

