@using MooseMus.Models.ViewModels
@model UserHomeViewModel
@{
    ViewBag.Title = "Login";
}

<h2>@Model.name</h2>
<h3>@Model.email</h3>

<div class="container">
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Course</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.courses != null)
            {
                foreach (var course in @Model.courses)
                {
                    <tr>
                        <td>@Html.ActionLink(course.name, "CourseChoose", "Home", new { userID = Model.userID, course = course.name }, null)</td>
                        <td>@course.role</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

